<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "paopao.demo.mapper.UserPrizeMapper">
    <insert id="insert">
        INSERT INTO user_prizes (user_id, prize_id, won_time) VALUES (#{userId}, #{prizeId}, NOW())
    </insert>
    <select id="findByUserId" resultType="paopao.demo.dto.UserPrizeDTO">
        SELECT u.id AS userId, p.id AS prizeId, p.name AS prizeName, u.username AS username, u.password AS password, up.won_time AS wonTime
        FROM user_prize up
        JOIN users u ON up.user_id = u.id
        JOIN prizes p ON up.prize_id = p.id
        WHERE u.id = #{userId}
    </select>
</mapper>